<!DOCTYPE html>
<html>
<head>
    <title>Add Package</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h2>Add New Package</h2>

<form method="post">
    Package ID: <input type="text" name="package_id"><br>
    Origin: <input type="text" name="origin"><br>
    Destination: <input type="text" name="destination"><br>
    Weight: <input type="number" name="weight"><br>
    Priority: <input type="number" name="priority"><br>
    <button type="submit">Add</button>
</form>

</body>
</html>
